<div class="row section topspace">
  <div class="col-sm-12">
        <p class="lead text-center text-muted">
          We provide intensive, practical, hands-on courses to lift business intelligence skills to the next level. We engage New Zealand’s top data science talent to up-skill and empower data professionals enabling them to deliver high quality data outputs, follow best practice and use modern data science tools in their daily work.
        </p>
  </div>
</div>

<div class="row section topspace">
  <div class="col-sm-12">
  <h2 class="section-title">Raising the bar</h2>
        <p>
Improving the reliability and efficiency of the data processing workflow will establish credibility in data businesses, accelerate innovation and increase the confidence of both clients and analysts in the obtained analytical results. We embrace the scientific method. It is our mission to make data deliverables fully reproducible, decrease manual labor and consequently reduce errors and improve productivity of data professionals.
        </p>
        <p>
          How are we different from other training providers? While many online courses lack practical hands-on sessions with experts and university courses can take a lot of time and commitment, we offer practical solutions for a very specific business problem. Your organization intends to build a churn model or a customer segmentation? We provide hands-on courses that teach exactly the required skills to fill such a business need. Course participants can put the learned concepts into action in their organisations immediately.

        </p>
  </div>
</div>

<div class="row section topspace">
  <div class="col-sm-12">
    <h2 class="section-title">Our team</h2>
    <p>
      We are a group of computer science PhDs with extensive experience in commercial and academic environments. We are passionate about our profession and we have learned its ins and outs first hand over decades.
    </p>
  </div>
  
  <div class="col-sm-6">
    <h5>Stefan Schliebs, PhD</h5>
    <p>
      <img src="../images/Schliebs_Stefan_small.jpg" width="125" align="left" style="margin:5px 10px 5px 0; border-radius: 5px">
      Stefan holds a PhD degree in computer science from the Auckland University of Technology. He received numerous academic rewards, published more than 35 scientific articles in international journals, conferences and books and lectured data science courses at university. He worked as a data scientist in various industries. He is a co-organizer of the R User Meetup Group Auckland and Hackathon participant.
      
    </p>
  </div>
  
  <div class="col-sm-6">
    <h5>John Graves, PhD</h5>
    <p>
      <img src="../images/jg_photo_smaller.jpg" width="125" align="left" style="margin:5px 10px 5px 0; border-radius: 5px">
      John holds a PhD degree in Computer Science from AUT University and is a graduate of Singularity University in Mountain View, California. He has worked for high-profile financial organizations such as Morgan Stanley in New York City and Allianz Global Investors in San Diego and has founded several start-up companies in the US and NZ. John regularly speaks at meetups and conferences on topics related to Artificial Intelligence.
    </p>
  </div>

</div> <!-- / section -->
